<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.virjid.retirement.dao.AccountDao">
	<resultMap type="io.virjid.retirement.entity.AccountEntity"
		id="accountMapp">
		<id column="id" property="id" />
		<result column="id_card" property="idCard" />
	</resultMap>

	<select id="queryByAccount">
	<![CDATA[
	select * 
	from sys_account 
	where account=#{account};
	]]>
	</select>
	
	<insert id="insert">
	<![CDATA[
	insert into sys_account 
	(id,account,password,name,birthday,male,address,id_card,contact,role,status) 
	values 
	(#{id},#{account},#{password},#{name},#{birthday},#{male?1:0},#{address},#{idCard},#{contact},#{role},#{status});
	]]>
	</insert>
</mapper>